<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <%= javascript_include_tag :defaults %> 
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Login: <%= controller.action_name %></title>
  <title>Welcome to Donald's Discs</title>
  <%= stylesheet_link_tag 'records' %>
</head>
<body>
<div id="Border">
    <div id="Logo"></div>
    
    <div id="Menu">
        <%= link_to 'Home', :action => 'home' %>
        <%= link_to 'A-Z Search', :action => 'atoz' %>
        <%= link_to 'Artist/Label Search', :action => 'list' %>
		<%= link_to 'Open to Offers', :action => 'offers' %>
		<%= link_to 'My Records', :action => 'my_records' %>
    </div>
    <div id="Left">
        <h2></h2>
        <%=image_tag 'loading.gif', :id=>'spinner', :style=>"display:none; float:right;"%>
		<p style="color: green"><%= flash[:notice] %></p>
		<%= yield :layout  %>       
    </div>
    <div id="Right">
        <h2>Shopping Cart</h2>
    </div>
    
</div>
</body>
</html>
